* {
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

a, button {
    cursor: pointer;
}

body, html {
    margin: 0 0;
    padding: 0 0;
    border: solid 0px;
    background: rgb(92, 23, 45);
}

h1, h2, h3 {
    font-family: "GMX";
}

.blur {
    filter: blur(8px);
}

#space {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba( 1, 1, 1, 0.5); 
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(131, 38, 67); 
}