* {
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

a, button {
    cursor: pointer;
}

body, html {
    margin: 0 0;
    padding: 0 0;
    background: rgb( 105, 25, 50);
}

h1, h2, h3 {
    font-family: "GMX";
}

.blur {
    filter: blur(8px);
}

#space {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}