{% load staticfiles %}
<section id="BusExpP">
    <div id="head">
        <div id="finder">
            <span>BUSCA RFC</span>
            <input type="text" name="" placeholder="Escribe el RFC del personal a buscar">
        </div>
    </div>
    
    <div id="find">

        <script>
            $(function () {
                var targets = $('.target .e-status');
                targets.each(function (target) {
                    if ((target + 1) % 4 == 0) {
                        $(this).removeClass('true');
                    }
                });
            });
        </script>
        {% csrf_token %}
        {% for empleado in empleados %}
        <div class="target">
            <div class="item-left">
                <img src="https://i.pinimg.com/originals/d1/b5/13/d1b51337c425f76db1874359d012db41.jpg">
                <div class="e-status true">
                    <div class="text">Expediente</div>
                    <div class="ico"></div>
                </div>
            </div>
            <div class="item-right">
                <span class="target-text">
                    <h5>Nombre</h5>
                    <span>{{ empleado }}</span>
                    <h5>Curp</h5>
                    <span>{{ empleado.curp }}</span>
                    <h5>Teléfono</h5>
                    <span>{{ empleado.telefono }}</span>
                </span>
                <div class="buttons">
                    <button class="verDatos">
                        <img src="{% static 'img/icons/eye.png' %}" title="Ver Expediente">
                    </button>
                    <button class="carDatos" data-id="{{ empleado.id }}">{{ target }}</button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>