{% load staticfiles %}
<section id="BusExpP">
    <div id="head">
        <div id="finder">
            <span>BUSCA RFC</span>
            <input type="text" name="" placeholder="Escribe el RFC del personal a buscar">
        </div>
    </div>
    
    <div id="find">
        
        {% csrf_token %}
        {% for empleado in empleados %}
        <div class="target">
            <div class="item-left">
                <div class="photo">
                    <img src="/media/photo/{{ empleado.id }}.jpg">
                </div>
                <div class="e-status {% if empleado.expediente %} true {% endif %}">
                    <div class="text">Expediente</div>
                    <div class="ico"></div>
                </div>
            </div>
            <div class="item-right">
                <span class="target-text">
                    <h5>Nombre</h5>
                    <span>{{ empleado }}</span>
                    <h5>Curp</h5>
                    <span>{{ empleado.curp }}</span>
                    <h5>Teléfono</h5>
                    <span>{{ empleado.telefono }}</span>
                </span>
                <div class="buttons">
                    <button class="verDatos">
                        <img src="{% static 'img/icons/eye.png' %}" title="Ver Expediente">
                    </button>
                    <button class="carDatos" data-id="{{ empleado.id }}">{{ target }}</button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>