{% load staticfiles %}

<section id="CarExpP">
    <section id="cabecera">
        <div id="item-photo">
            <img src="https://i.pinimg.com/originals/d1/b5/13/d1b51337c425f76db1874359d012db41.jpg" alt="">
        </div>
        <div id="item-name">
            Jessica Gutierrez Gentile
        </div>
        <button id="cancelPE">CANCELAR</button>
    </section>

    <section id="PubSpace">

        <section class="help">
            Crea tu interfaz debajo :D
            <button>OK</button>
        </section>

        <!-- Todo tu html aqui -->

        <section id="PubWrapper">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file-upload" class="seleccionar">
                    Seleccionar archivo
                </label>
                <input id="file-upload" type="file" multiple style='display: none;' name="document" />
                <label for="button-upload" class="subir"></label>
                <button id="button-upload" type="submit">Upload file</button>
            </form>


        </section>
    </section>

    <section id="preview"></section>
</section>