{% load staticfiles %}
<script src="{% static 'js/cargar_expediente.js' %}"></script>

<section id="CarExpP">
    <section id="cabecera">
        <div id="item-photo">
            <img src="https://i.pinimg.com/originals/d1/b5/13/d1b51337c425f76db1874359d012db41.jpg" alt="">
        </div>
        <div id="item-name">
            Jessica Gutierrez Gentile
        </div>
        <button id="cancelPE">CANCELAR</button>
    </section>

    <section id="PubSpace">

        <section class="help">
            Arrastra archivos a la caja de abajo o da click para seleccionarlos
            <button>OK</button>
        </section>

        <!-- Todo tu html aqui -->

        <section id="PubWrapper">
            <form id="cargar_expediente" 
                action="/home/cargar_expediente/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="empleado_id">
                <input id="file-upload" type="file" multiple style='display: none;' name="document" accept="image/x-png,image/jpeg" />
                <div class="upload-area"  id="uploadfile">
                    <h1>Arrastra archivos aquí</h1>
                </div>
                <button id="button-upload" class="send_button" type="submit">Cargar Expediente</button>
            </form>
        </section>
    </section>

    <section id="preview"></section>
</section>