{% load staticfiles %}
<section id="HisExpP">
    <section id="cabecera">
        <div id="item-photo">
            <img src="https://i.pinimg.com/originals/d1/b5/13/d1b51337c425f76db1874359d012db41.jpg" alt="">
        </div>
        <div id="item-name">
            Jessica Gutierrez Gentile
        </div>
    </section>

    <section id="PubSpace">

        <section class="help">
            Los expedientes se guardan en forma decreciente
            <button>OK</button>
        </section>

        <!-- Todo tu html aqui -->

        <section id="PubWrapper">
            
        </section>
    </section>

    <section id="preview"></section>
</section>