{% load staticfiles %}
<script src="{% static 'js/ordenar_expediente.js' %}"></script>

<section id="OrdExpP">
    <section id="cabecera">
        <section>
            <div id="item-photo">
                <img src="" alt="">
            </div>
            <div id="item-name">
                Jessica Gutierrez Gentile
            </div>
            <button id="cancelPE">CANCELAR</button>
        </section>
        <div id="item-info">
            <section>
                <h5>Ejemplo Key</h5>
                <span>Ejemplo Value</span>
            </section>
        </div>
        <button id="morePE"></button>
    </section>

    <section id="PubSpace">
        
        <section class="help">
            <span>Arrastra las imágenes de la izquierda a la casilla que correspondan.
            También puedes dar doble click a las imagenes para maximizarlas</span>
            <button>OK</button>
        </section>
        
        <section id="PubWrapper">
            <section id="PubView">
                <span>
                    ARCHIVOS
                    <!--
                    <form method="POST" action="/home/upload/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" style="display: none;" name="document">
                        <button type="submit">+</button>
                    </form>
                    -->
                </span>
                <div id="pub-space" class="drag_zone" data-tipo="Desconocido">
                    <!--
                    <img id="i1" draggable="true" src="" alt="">
                    -->
                </div>
            </section>
            
            <section id="PubFolders">
                <div class="folder">
                    <span>Acta de Nacimiento</span>
                    <section class="drag drag_zone" data-tipo="Acta_de_Nacimiento">
        
                    </section>
                </div>
                <div class="folder">
                    <span>CURP</span>
                    <section class="drag drag_zone" data-tipo="CURP">
        
                    </section>
                </div>
                <div class="folder">
                    <span>Académico</span>
                    <section class="drag drag_zone" data-tipo="Academico">
        
                    </section>
                </div>
                <div class="folder">
                    <span>FOMOPES</span>
                    <section class="drag drag_zone" data-tipo="FOMOPES">
        
                    </section>
                </div>
                <div class="folder">
                    <span>Otros</span>
                    <section class="drag drag_zone" data-tipo="Otros">
        
                    </section>
                </div>
            </section>
            <button id="ordenar-expediente" class="send_button" type="submit">Ordenar Expediente</button>
        </section>
    </section>

    <section id="preview"></section>

</section>